// Custom project-specific class here
:root {
  --color-primary-light: #f3fbf8;
  --color-primary: #10ae6a;
  --color-primary-dark: #253b2f;
  --color-accent-light: #6db6fa;
  --color-accent: #4b8ff8;
  --color-accent-dark: #095ede;
}

.swipper-vertical {
  @screen md {
    max-height: 180px;
  }
  @screen lg {
    max-height: 180px;
  }
  @screen xl {
    max-height: 320px;
  }
  @screen 2xl {
    max-height: 320px;
  }
}
