@mixin text-ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.text-ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-ellipsis-2 {
  @include text-ellipsis(2);
}
.text-ellipsis-3 {
  @include text-ellipsis(3);
}
.text-ellipsis-4 {
  @include text-ellipsis(4);
}
.text-ellipsis-5 {
  @include text-ellipsis(5);
}
.text-ellipsis-6 {
  @include text-ellipsis(6);
}
.text-ellipsis-10 {
  @include text-ellipsis(10);
}
