@import 'swiper/swiper-bundle.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import './base';
}

@import './custom';

.swiper-pagination-bullet-active {
  width: 58px;
  background-color: var(--color-primary);
}
.swiper-pagination-bullet-active:hover {
  background-color: var(--color-primary);
}
